<% include ../partials/header %>

    <div class="row">
        <div class="col-md-3">Name</div>
        <a href="/courses/new">Create new course</a>
    </div>
    <div>
        <% 
    allCourses.forEach(e => {
        %>
            <div style="margin-left: 20px" class="row">
                <a href="/courses/<%=e.id%>">
                    <%=e.name%>
                </a>
                <a href="/courses/<%=e.id%>/edit">&nbspedit</a>
                <a href="/admin/teacher/<%=e.id%>">&nbspteacher</a>
                <a href="/admin/courses/delete/<%=e.id%>">&nbspdelete</a>
            </div>
            <%
            }) %>
    </div>

    <% include ../partials/footer %>