<% include ../partials/header %>
    <p>
        <%=foundCourse%>
    </p>
    <p>
        <%= foundCourse.students %>
    </p>
    <p> About students:
        <% if(foundCourse.students.length > 0) {
            foundCourse.students.forEach(e => {
                %>
            <p>
                <%=e.data.email%>
            </p>
            <%
            })
        } else {
            %> no enrolled students
                <%
        } %>
    </p>
    <div class="row">

    </div>
    <form action="/courses/<%=foundCourse._id%>?_method=PUT" method="post">
        <div class="row">
            <label for="name">Name:
                <input disabled type="text" name="name" id="name" value="<%=foundCourse.name%>">
            </label>
            <label for="code">Code:
                <input disabled type="text" name="code" id="code" value="<%=foundCourse.code%>">
            </label>
            <label for="name">Image:
                <input disabled type="text" name="image" id="image" value="<%=foundCourse.image%>">
            </label>
            <label for="name">Description:
                <input disabled textarea="textarea" name="description" id="" value="<%=foundCourse.description%>">
            </label>
                <br>
            <label for="name">Current teacher
                <input disabled textarea="textarea" 
                name="oldTeacher" 
                id="" 
                value="<%=foundCourse.teacher%>">
            </label><br>
            <% 
            if(foundTeachers.length > 0) {
                %><div class="form-group">
                  <label for="newTeacher">New Teacher:</label>
                  <select class="form-control" name="newTeacher" id="newTeacher">
                      <%
                      foundTeachers.forEach(teacher => {
                          %>
                          <option value="<%=teacher._id%>"</option><%=('username: ' + teacher.username + ', id:' +  teacher.id) %></option>
                          <%
                      })
                      %>
                  </select>
                </div> <%
            }
            %>
            <input type="submit" value="Submit">
            <button type="submit">Go back</button>
        </div>
        <img src="<%=foundCourse.image%>">
    </form>

    <% include ../partials/footer %>