<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>course</title>
</head>

<body>
    <form action="/courses/<%=foundCourse._id%>?_method=PUT" method="post">
        <label for="name">Name:
            <input type="text" name="name" id="name" value="<%=foundCourse.name%>">
        </label>
        <label for="code">Code:
            <input type="text" name="code" id="code" value="<%=foundCourse.code%>">
        </label>
        <label for="name">Image:
            <input type="text" name="image" id="image" value="<%=foundCourse.image%>">
        </label>
        <label for="name">Description:
            <input textarea="textarea" name="description" id="" value="<%=foundCourse.description%>">
        </label>
        <button type="submit">Update</button>
    </form>
    <form action="/courses/<%=foundCourse.id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>

</html>