<% include ./partials/header %>
    <p>
        <%=foundCourse%>
    </p>
    <p>
        <%= foundCourse.students %>
    </p>
    <p> About students:
        <% if(foundCourse.students.length > 0) {
            foundCourse.students.forEach(e => {
                %>
            <p>
                <%=e.data.email%>
            </p>
            <%
            })
        } else {
            %> no enrolled students
                <%
        } %>
    </p>
    <% if(currentUser) { %>
        <form action="/add/<%=foundCourse.id %>" method="post">
            <input type="submit" value="Enroll">
        </form>
        <form action="/courses/<%=foundCourse.id%>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form>
        <% }%>
    <form action="../courses" method="get">
        <div class="row">
            <label for="name">Name:
                <input disabled type="text" name="name" id="name" value="<%=foundCourse.name%>">
            </label>
            <label for="code">Code:
                <input disabled type="text" name="code" id="code" value="<%=foundCourse.code%>">
            </label>
            <label for="name">Image:
                <input disabled type="text" name="image" id="image" value="<%=foundCourse.image%>">
            </label>
            <label for="name">Description:
                <input disabled textarea="textarea" name="description" id="" value="<%=foundCourse.description%>">
            </label>
            <button type="submit">Go back</button>
        </div>
        <img src="<%=foundCourse.image%>">
    </form>

            <% include ./partials/footer %>