<% include ../partials/header %>
                <a href=""><button type="submit">New</button></a>
                
    <% foundUsers.forEach(e => { %>
        <hr>
        <div class="row">
            <form action="/users/<%=e.id %>" method="get">
            <label for="firstName">Name:
                <input type="text" name="firstName" disabled value="<%=e.firstName%>" id="firstName">
            </label>Surname:
            <label for="lastName">
                <input type="text" name="lastName" disabled value="<%=e.lastName%>" id="firstName">
            </label>User:
            <label for="username">
                <input type="text" name="username" disabled value="<%=e.username%>" id="firstName">
            </label><br>
            <label for="courses">Courses:
                <ul>
                    <% e.courses.forEach(el => {
                        %><li><%=el %></li><%
                }) %>
                </ul>
                <input type="submit" value="Change">
                <a href=""><button type="submit">Delete</button></a>
            </label><br><br></form>
        </div>
        <% }); %>
            <% include ../partials/footer %>